{% set seoMeta = {'robots':'noindex, follow'} %}
{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
<div role="main" id="home" class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="error-box">
				<div class="error-box-content">
				    <h1 class="headline">404</h1>
				    <p class="subheadline">Sorry this page doesn't exist</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
