body {
    /*background-image:url('../img/bg.png');*/
    /*background-repeat:repeat;*/
}
p {
    margin: 0 0 20px;
}

a,a:visited,a:hover,a:active {
    text-decoration: none;
    color: inherit;
}

.navbar {
    background-color: beige;
}


@media (max-width: 768px) {
    .navbar-brand  {
        font-size: 20px;
    }
}

.navbar-header img{
    height: 40px;
    margin-top: 15px;
}

.header-image {
    background-image:url('../img/Header/brunchHeader.jpg');
    height: 300px;
}

.jumbotron {
    background-color: transparent;
    padding: 70px 0 0 0;
}
.footer {
    margin-top: 40px;
    padding: 40px 0;
}
.event {
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 30px;
}
.event + .event {
    padding-top: 30px;
}
.event .date {
    margin-bottom: 7px;
    color: #2a6496;
}

.place-teaser img{
    max-width: 100%;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.place-teaser {
    padding: 20px;
}

.place-teaser div{
    background-color: beige;
    margin: 10px;
}

.list-places {
    margin-top: 20px;
}

.place-description{
    padding: 10px;
    height: 180px;
}
