{% extends 'AppBundle::layout.html.twig' %}


{% block title %}Brunch{% endblock %}

{% block body %}
    <div class="container">
        <row>
            <h2>Find a brunch</h2>
            <p>Hungry? And you really want to have a brunch or breakfast?</p>
            <p>Just give the address where you are and get the list of the best restaurants or cafes around your area in all the cities, states and countries in the world so you can find a good brunch or breakfast.</p>
            <div class="row">
                {% include 'AppBundle:Place:searchForm.html.twig' %}
            </div>
            <br/>
            <hr/>
        </row>
        <row>
            <h2>Add a brunch location</h2>
            <p>You are a brunch expert and you already know places but they are not on the website?</p>
            <p><a href="{{ path('place_form') }}">Add your favorite place</a> to help other people to discover this brunch or breakfast.</p>
            <br/>
            <hr/>
        </row>
        <h2>Last added brunch</h2>
        <div class="row list-places">
        {% for place in places %}
            {% include 'AppBundle:Place:placeTeaser.html.twig' with {'place': place} only %}
        {% endfor %}
        </div>
    </div>
{% endblock %}
