{% extends 'AppBundle::layout.html.twig' %}


{% block title %}Brunch{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-xs-12">
            {% include 'AppBundle:Place:map.html.twig' %}
        </div>
    </div><!-- End Content -->
{% endblock %}
