{% extends 'AppBundle::layout.html.twig' %}


{% block title %}Brunch{% endblock %}

{% block body %}
    <div class="container">
            {% include 'AppBundle:Place:map.html.twig' %}
    </div><!-- End Content -->
{% endblock %}
