{% extends 'AppBundle::layout.html.twig' %}


{% block title %}Brunch{% endblock %}

{% block body %}
    <div class="container">
            {% include 'AppBundle:Place:searchForm.html.twig' %}
    </div>
{% endblock %}
