{% extends 'layout.html.twig' %}

{% block title %}Edit Place{% endblock %}

{% block body %}

<div class="container">
    <h1>Edit Place</h1>

    {{ include('place/_form.html.twig', {'button_label': 'Update'}) }}

</div>
{% endblock %}
