<div id="mapPlace" style="height: 200px;width: 200px" data-latitude="{{ place.latitude }}" data-longitude="{{ place.longitude }}"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFCc3RQIkAfbw4POE2ke7iq-BqNvD6ZDQ&callback=initMap" async defer></script>
