{% extends 'layout.html.twig' %}

{% block title %}New Place{% endblock %}

{% block body %}
<div class="container">
    <row>
        <div class="col-sm-12"><h1>New location</h1></div>
        <br/>
    </row>

    {{ include('place/_form.html.twig') }}


</div>
{% endblock %}
