<div class="col-xs-12">
    <form class="form-inline" action="{{ path('find-location') }}" method="GET">
        <div class="form-group row">
            <label for="address" class="col-xs-12 col-form-label">Where do you want to eat?</label>
            <div class="col-xs-8">
                <input class="form-control col-xs-8" type="text" id="address" name="address">
            </div>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
</div>
