body{
    background-color: #f0e5d4;
}

.navbar-default{
    background-color: #e7931a;
}

header.head .navbar-default .navbar-nav>.active>a
{
    background-color: #be1e2d;
}

header.head .navbar-default .navbar-nav>li>a{
    color: #fff;
}

header .header-container {
    padding: 28px 0 22px 0;
}

header .header-logo {
    display: table;
}

header .header-container .brand-wrap{
    display:table-cell;
    vertical-align:middle;
}

header .header-container img{
    display:table-cell;
    vertical-align:middle;
    padding-left:20px;
}

.brand-wrap .slogan{
    font-size: 20px;
    display: block;
    clear: both;
}

.brand-wrap .brand{
    font-size: 45px;
}
