{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <div class="container">
        {% include 'AppBundle:Place:searchForm.html.twig' with {} %}
    </div>
    <div class="container">
        <h2>Current Address</h2>
        <div>{{ currentAddress.streetName ~' '~ currentAddress.streetNumber }}</div>
        <div>{{ currentAddress.postalCode ~ ' ' ~currentAddress.locality }}</div>
        <input type="hidden" id="latitude" value="{{ currentAddress.coordinates.latitude }}"></input>
        <input type="hidden" id="longitude" value="{{ currentAddress.coordinates.longitude }}"></input>
    </div>
    <div class="container">
        {% include 'AppBundle:Place:map.html.twig' %}
    </div>
{% endblock %}
