{% extends 'AppBundle::layout.html.twig' %}


{% block title %}Brunch{% endblock %}

{% block body %}
    <div class="container">
        <row>
            <h2>Add a new location</h2>
        </row>
        <row>
            {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
            {# {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %} #}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </row>
    </div>
{% endblock %}
