<div id="mapPlace" style="height: 200px;width: 200px" data-latitude="{{ place.latitude }}" data-longitude="{{ place.longitude }}"></div>
<script>

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkhzc4BU9taPBAtWhFsgvzYuiDCK2ieTY&callback=initMapPlace">
</script>
