{% extends 'AppBundle::layout.html.twig' %}


{% block title %}Brunch{% endblock %}

{% block body %}

<div class="container">
    <div>
        <ol id="carousel_images">
        {% for placeImage in placeImages %}
            <li><img src="{{placeImage.imageUrl }}"></li>
        {% endfor %}
        </ol>
        <div>
            <h3>{{ place.name }}</h3>
            <p>{{ place.address ~ ' ' ~ place.postalCode ~ ' ' ~ place.city}}</p>
        </div>
    </div>
</div>

{% endblock %}