{% extends 'AppBundle::layout.html.twig' %}


{% block title %}Brunch{% endblock %}

{% block body %}




<div class="container">
    <div>
        <ol id="carousel_images">
        {% for placeImage in placeImages %}
            <li><img src="/uploads/placesImages/079a073a3dbab7ee4c30d8fb3d92ebb3.png"></li>
            <li><img src="/uploads/placesImages/079a073a3dbab7ee4c30d8fb3d92ebb3.png"></li>
            <li><img src="/uploads/placesImages/079a073a3dbab7ee4c30d8fb3d92ebb3.png"></li>
            <li><img src="/uploads/placesImages/079a073a3dbab7ee4c30d8fb3d92ebb3.png"></li>
            <li><img src="/uploads/placesImages/079a073a3dbab7ee4c30d8fb3d92ebb3.png"></li>
        {% endfor %}
        </ol>
        <div>
            <h3>{{ place.name }}</h3>
            <p>{{ place.address ~ ' ' ~ place.postalCode ~ ' ' ~ place.city}}</p>
        </div>
    </div>
</div>

    

{% endblock %}